@{
    Layout = "_mainLayout";
}

@section CardHeader {
    <h2>Create Employees</h2>
}

@section CardBody {
    <div class="container mt-1">
        <form asp-controller="Employees" asp-action="Store">
            <div class="mb-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="Name" placeholder="Enter your name">
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="Email" placeholder="Enter your email">
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="Passwored" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
}